<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Importing NavBar -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Credit Management Api</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/choose.css}">
  <style>
    body {
      background-image: url("https://i.hizliresim.com/b5l0ic4.jpg");
      height: 800px;
      font-size: medium;
    }
    .navbar-brand {
      font-size: 1.85rem;
    }
  </style>
</head>
<div th:insert="navbar.html :: navbar"></div>
<br>
<br>
<br>
<body>
<h1>Welcome My Credit Management Api</h1>
<p>Please select your choose</p>
<section class="main">
  <div class="wrap wrap--2" onclick="location.href='/index';" style="cursor:pointer;">
    <div class="container container--2" >
      <p>Member Monitoring</p>
    </div>
  </div>
  <div class="wrap wrap--3">
    <div class="container container--3"  onclick="location.href='/search';" style="cursor:pointer;">
      <p>Credit Query</p>
    </div>
  </div>
</section>
<div th:insert="footer.html :: footer"></div>
</body>

</html>